.footer {
  display: flex;
  justify-content: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #212121;
  opacity: 0.7;
  font-size: 16px;
  width: 104px;
}
