.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 10px;
  opacity: 0;
  transition:
    visibility 0s linear 0.5s,
    opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 32px 50px;
}

.modal__close-button {
  background-image: url(/images/Close-Icon.jpg);
  border: none;
  position: absolute;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 40%;
  top: 27px;
}

.modal__caption {
  display: flex;
  justify-content: center;
  background-color: #212121;
  border-radius: 4px;
  width: 170px;
  color: white;
  padding: 4px 8px 4px 8px;
  size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.modal__close-button_type_preview {
  background-image: url(/images/preview-close-btn.png);
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 101%;
  top: 40px;
  color: #ffffff;
  border: none;
  background-color: transparent;
}

.modal__close-button_type_preview:hover {
  background-image: url(/images/preview-close-btn-hover.png);
  opacity: 40%;
}

.modal__close-button:hover {
  cursor: pointer;
  color: #212121;
  opacity: 0.6;
}

.modal__title {
  margin: 0 0 32px;
  color: #212121;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__post-form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: flex;
  flex-direction: column;
  margin: 0 0 32px;
  size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0%;
  font-family:
    "Poppins" Arial,
    Helvetica,
    sans-serif;
  color: #212121;
  opacity: 70%;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  border-radius: 8px;
  padding: 16px 12px 16px 12px;
  gap: 10px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  height: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__save-button {
  border-radius: 8px;
  color: #fcf5e5;
  background-color: #212121;
  width: 150px;
  height: 52px;
}

.modal__preview-container {
  position: relative;
}

.modal__image {
  border-radius: 8px;
  max-width: 88vw;
  max-height: 88vh;
  width: 100%;
  object-fit: contain;
  display: block;
}

@media screen and (max-width: 320px) {
  .modal {
    visibility: hidden;
    background-color: #00000080;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
  }

  .modal__container {
    max-width: 300px;
    max-height: 333px;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 12px;
    position: relative;
  }

  .modal_is-opened {
    visibility: visible;
  }

  .modal__save-button {
    border-radius: 8px;
    color: #fcf5e5;
    background-color: #212121;
    width: 276px;
    height: 52px;
  }

  .modal__title {
    display: flex;
    margin: 9px 0 18px;
    color: #212121;
    width: 106px;
    height: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .modal__label {
    display: flex;
    flex-direction: column;
    margin: 0 0 32px;
    size: 16px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0%;
    font-family:
      "Poppins" Arial,
      Helvetica,
      sans-serif;
    color: #212121;
    opacity: 70%;
    width: 276px;
  }

  .modal__input {
    display: block;
    margin: 8px 0 0;
    border-radius: 8px;
    padding: 16px 12px 16px 12px;
    gap: 10px;
    font-family:
      "Poppins" Arial,
      Helvetica,
      sans-serif;
    height: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .modal__close-button {
    top: 10px;
    right: 2%;
  }
}
.modal__close-button_type_preview {
  margin-left: 88%;
  top: -2px;
}
.modal__caption {
  width: 157px;
}

.modal__image {
  max-width: 90vw;
}

@media (min-width: 630px) {
  .modal__close-button_type_preview {
    margin-left: 92%;
  }
}

@media (min-width: 768px) {
  .modal__close-button_type_preview {
    margin-left: 94%;
  }
}

@media (min-width: 1320px) {
  .modal__close-button_type_preview {
    margin-left: 101%;
    top: 44px;
  }
}
