.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 10px;
  opacity: 0;
  transition:
    visibility 0s linear 0.5s,
    opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 32px 50px;
  box-sizing: border-box;
  position: relative;
}

.modal__close-button {
  background-image: url(../images/Close-Icon.jpg);
  border: none;
  position: absolute;
  top: 36px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 0.4;
}

.modal__caption {
  margin: 0;
  padding: 4px 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  position: absolute;
  background-color: #212121;
  border-radius: 8px;
  left: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  top: calc(100% + 10px);
}

.modal__close-button_type_preview {
  background-image: url(../images/preview-close-btn.png);
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  right: -52px;
  color: #ffffff;
  border: none;
  background-color: transparent;
}

.modal__close-button_type_preview:hover {
  background-image: url(../images/preview-close-btn-hover.png);
  opacity: 0.4;
}

.modal__close-button:hover {
  cursor: pointer;
  color: #212121;
  opacity: 0.6;
}

.modal__title {
  margin: 0 0 32px;
  color: #212121;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__post-form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: flex;
  flex-direction: column;
  margin: 0 0 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #212121;
  opacity: 0.7;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  border-radius: 8px;
  padding: 16px 12px 16px 12px;
  gap: 10px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  height: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
}

.modal__input:hover {
  border: 1px solid #212121;
}

.modal__input:valid {
  border: 1px solid #212121;
  opacity: 40%;
}

.modal__input:invalid {
  border: 1px solid #ff0000;
  opacity: 60%;
  margin-bottom: 32px;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__input:invalid::placeholder {
  color: #212121;
  opacity: 30%;
}

.modal__error {
  font-weight: 500;
  color: #ff0000;
  display: block;
  width: 630px;
  height: 18px;
  letter-spacing: 0%;
  line-height: 110%;
}

.modal__save-button {
  border-radius: 8px;
  color: #fcf5e5;
  background-color: #212121;
  width: 150px;
  height: 52px;
  cursor: pointer;
}

.modal__save-button:hover {
  background-color: #212121;
  opacity: 80%;
}

.modal__save-button:disabled {
  background-color: #212121;
  opacity: 50%;
}

.modal__preview-container {
  position: relative;
  display: inline-block;
}

.modal__image {
  border-radius: 8px;
  max-width: 88vw;
  max-height: 88vh;
  width: 100%;
  object-fit: contain;
  display: block;
}

@media screen and (max-width: 630px) {
  .modal__container {
    border-radius: 8px;
    padding: 22px 12px 12px;
    background-color: #ffffff;
    position: relative;
  }

  .modal__title {
    font-size: 20px;
    line-height: 100%;
  }

  .modal__save-button {
    border-radius: 8px;
    color: #fcf5e5;
    background-color: #212121;
    width: 100%;
    height: 52px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__close-button_type_preview {
    top: -40px;
    right: 0;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__image {
    max-width: unset;
  }
}
